<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/all.css">

</head>
<body>
    <header>
        <img src="https://www.ufc.br/images/_images/a_universidade/identidade_visual/brasao/brasao1_horizontal_cor_300dpi.png" alt="brasão ufc">
        <nav>
            <button id="btnUser" class="button">[[${userName}]]</button>
            <button id="btnLoginOut" onclick="btnLoginOut(this)" class="button" >[[${loginOut}]]</button>
        </nav> 
    </header>
    <section class="menu">
        <a class="active" onclick="navigateTo('home')">Home</a>
        <a onclick="navigateTo('forum')">Fórum</a>
        <a onclick="navigateTo('profile')">Meu perfil</a>
    </section>
    
    <main>
        
        <section>
            <div class="container">
                
            </div>
        </section>

        <section>
            <div class="container">
                <div class="content">
                    <h2>Sobre o Sistema</h2>
                    <p>Este sistema foi projetado para ajudar você a se conectar, aprender e compartilhar conhecimento com outros usuários.</p>
                    <p>Sinta-se à vontade para explorar o fórum, atualizar seu perfil e interagir com outros membros da comunidade.</p>
                    <p>Esperamos que você tenha uma experiência agradável e produtiva!</p>
                </div>
            </div>
        </section>
    </main>
        <div id="customAlert" class="custom-alert">
        <div class="alert-content">
            <span class="close" onclick="closeCustomAlert()">&times;</span>
            <p>Deseja confirmar esta ação?</p>
            <button onclick="confirmAction()">Confirmar</button>
        </div>
    </div>
    <footer>
        <p>&copy; Cristiano Mendes - 2024</p>
    </footer>
    <script src="/scripts/all.js"></script>
</body>
</html>
