<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <header>

    </header>
    <main>
        <div class="container">
            

            <form action="/login/user" method="post" id="loginForm">
                <!--<img src="/src/profile.png" alt="">-->
                <img src="https://www.ufc.br/images/_images/a_universidade/identidade_visual/brasao/brasao2_vertical_cor_300dpi.png" alt="brasão ufc">
                <div class="form-group">
                    <div class="icon">
                        <span class="material-symbols-outlined">
                            email
                        </span>
                        <input type="email" id="email" name="email" autocomplete="current-password" placeholder="Seu email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="icon">
                        <span class="material-symbols-outlined">
                            key
                        </span>
                        <input type="password" id="password" name="password" placeholder="Sua Senha" autocomplete="current-password">
                    </div>
                </div>
                <div class="icon">
                    <input type="checkbox" name="remember" id="remember">
                    <label for="remember">Lembrar</label>
                </div>
                <div class="form-group">
                    <button type="submit">Entrar</button>
                    <button type="button" id="btnCreateAccount">Criar conta</button>
                </div>
            </form>
            <div class="extra-content">
                <h3>Bem vindo de Volta</h3>
                <p>Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição tipográfica. Lorem Ipsum tem sido o texto fictício padrão da indústria desde 1500, quando um impressor desconhecido pegou uma prova de tipos e a misturou para fazer um livro de espécimes de tipos. Ela sobreviveu não apenas a cinco.
                </p>
            </div>           
        </div>
        <div id="alertMessage" class="alertMessage">
        </div>
    </main>
    <footer>
        <p>&copy; Cristiano Mendes - 2024</p>
    </footer>
    <script src="/scripts/login.js"></script>

</body>

</html>