<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../../static/login/index.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <header>

    </header>
    <main>
        <div class="container">

            <form action="/register/user" method="post" id="registerForm">
                <div class="form-group">
                    <div class="icon">
                        <span class="material-symbols-outlined">
                            badge
                        </span>
                        <input type="text" id="name" placeholder="Nome" pattern="[A-Za-z]+" title="Digite seu nome" required oninvalid="this.setCustomValidity('Por favor, insira um valor válido.')" oninput="setCustomValidity('')">
                    </div>
                </div>
                <div class="form-group">
                    <div class="icon">
                        <span class="material-symbols-outlined">
                            badge
                        </span>
                        <input type="text" id="surname" placeholder="Sobrenome" pattern="[A-Za-z]+" title="Digite seu Sobrenome" required pattern="[0-9]+(\.[0-9]+)?" oninvalid="this.setCustomValidity('Por favor, insira um valor válido.')" oninput="setCustomValidity('')">
                    </div>
                </div>
                <div class="form-group">
                    <div class="icon">
                        <span class="material-symbols-outlined">
                            school
                        </span>
                        <select name="courses" id="courses">
                            <option value="" class="label">Curso</option>
                            <option value="EC">Eng. da Computação</option>
                            <option value="ES">Eng. de Software</option>
                            <option value="CC">Ciência da Computação</option>
                            <option value="DD">Design Digital</option>
                            <option value="SI">Sistemas de informação</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="icon">
                        <span class="material-symbols-outlined">
                            calendar_month
                        </span>
                        <label for="a">Inicio</label>
                        <input type="month" name="" id="a" >
                    </div>
                </div>

                <div class="form-group">
                    <div class="icon">
                        <span class="material-symbols-outlined">
                            email
                        </span>
                        <input type="email" id="email" name="email" title="Digite seu email" placeholder="Email" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="icon">
                        <span class="material-symbols-outlined">
                            key
                        </span>
                        <input type="password" required id="password" name="password" title="Digite sua senha" placeholder="Senha">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit">Criar conta</button>
                    <button type="button" id="btnLogin">Já tenho uma conta</button>
                </div>
            </form>
            <div class="extra-content">
                <h3>Crie sua conta</h3>
                <p>Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição tipográfica. Lorem Ipsum tem sido o texto fictício padrão da indústria desde 1500, quando um impressor desconhecido pegou uma prova de tipos e a misturou para fazer um livro de espécimes de tipos. Ela sobreviveu não apenas a cinco.
                </p>
            </div>
        </div>
        <div id="alertMessage" class="alertMessage">
        </div>        
    </main>
    <footer>
        <p>&copy; Cristiano Mendes - 2024</p>
    </footer>
    <script src="../../static/register/register.js"></script>
</body>

</html>